body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

.WeeklySpecial h1 {
    color: #2B2D42;
}
.WeeklySpecial h2 {
    color: #8D99AE;
}

footer {
    font-size: 50%;
    text-align: center;
    width: 100%;
    float: left;
    margin: 20px;
}

a {
    color: black;
}

.link:hover {
    background-color: #CC7722;
}

.WeeklySpecial {
    border: solid #007e7e 2px;
    text-align: center;
    padding: 15px;
    margin: 10px 10px 10px 50px;
    box-sizing: border-box;
    float: right;
    width: 30%;
    background-image: url("../images/cocktail.gif");
    background-repeat: repeat-x;
}

.origin {
    width: 70%;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-top: 0;
}

#guarantee {
    margin: 30px 100px 30px 30px;
    padding: 20px 20px 20px 80px;
    color: #444444;
    background-color: #a7cece;
    border: dashed white;
    font-style: italic;
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
}

span:first-child {
    font-style: italic;
}

span:last-child {
    font-weight: bold;
}