body {
    font: 1.2em Verdana, Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

#imgHeader {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

#guarantee {
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #444444;
    border: dashed white;
    padding: 25px 25px 25px 80px;
    margin: 30px;
    background: url(../images/background.gif) no-repeat top left;
    background-color: #a7cece;
}

#WeeklySpecial {
    border: 1px solid #007e7e;
    padding: 2%;
    text-align: center;
    background: url("../images/cocktail.gif") repeat-x;
    line-height: 1;
    box-sizing: border-box;
}

#content {
    box-sizing: border-box;
    padding-right: 8px;
}

#WeeklySpecial h1 {
    color: #2B2D42;
}

#WeeklySpecial h2 {
    color: #8D99AE;
}

footer {
    font-size: 50%;
    text-align: center;
    line-height: normal;
}

span:first-child {
    font-style: italic;
}

span:last-child {
    font-weight: bold;
}

a:link {
    color: #007e7e;
}

a:visited {
    color: #333333;
}

#WeeklySpecial a:link {
    color: #007e7e;
}

#WeeklySpecial a:hover {
    background: #836953;
    color: white;
}
