.datagrid table {
    border-collapse: collapse;
    text-align: left; width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
}

.datagrid table td, .datagrid table th {
    padding: 8px 10px;
}

.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #83937C), color-stop(1, #83937C) );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#83937C', endColorstr='#83937C');
    background-color:#83937C;
    color:#C8C76D;
    font-size: 18px;
    font-weight: bold;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #C8C76D;
    font-size: 13px;font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #D2D2C9;
    color: #B0AF60;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
