body {
    background: url("../Images/background.jpg") no-repeat;
    background-size: cover;
    margin: 2%;
}

div {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

p, h1, h2 {
    margin-left: 20px;
}

a, h1, h2 {
    text-decoration: none;
    font-family: Abadi, sans-serif;
    color: #234737;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.8em;
}

a {
    font-size: 1.3em;
}
